body{
    margin: 0;
}

h1{
    text-align: center;
}

.container{
    width: 600px;
    margin: 0 auto;
}

h2{
    background-color: grey;
    padding: 7px; 
    margin-bottom: 0;
}

.container-img-p{
    width: 480px;
    margin: 0 auto;    
}

img{
    float: left;
}

p{
    text-align: justify;
    margin-top: 5px;
}

/* Dia 3 MC Diseño responsive y Adaptative. Agregar para probar los cambios. */


/* Comentado para no estropear el ejercicio original. */

/* @media only screen and (min-width: 768px) {
    body {
      background-color: beige;
    }
    .container{
        width: 900px;
        margin: 0 auto;
    }
    .container-img-p{
        width: 600px;
        margin: 0 auto;    
    }
  } */

@media only screen and (min-width: 400px) and (max-width : 768px) {
    body {
      background-color: lightblue;
    }
    .container {
        width: 400px;
        margin: 0 auto;
    }
    .container-img-p {
        width: 350px;
        margin: 0 auto;    
    }
  }

@media only screen and (max-width: 400px) {
    body {
      background-color: rgb(163, 140, 98);
      margin: 10px 10px 10px 10px;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .container-img-p{
        width: 100%;
        margin: 0 auto;    
    }
    p {
        text-align: left;
        margin-top: 5px;
    }
  }